  /* Butonların stil tanımı */
  button[type="submit"] {
    /* Buton boyutları */
    width: 300px;
    height: 40px;
    /* İçerik ile kenar arasındaki boşluk */
    padding: 10px;
    /* Alt boşluk */
    margin-bottom: 10px;
    /* Sol boşluk */
    margin-left: 10px;
    /* Sağ boşluk */
    margin-right: 10px;
    /* Üst boşluk */
    margin-top: 10px;
    /* Arka plan rengi */
    background-color: #00437c;
    /* Metin rengi */
    color: #ffffff;
    /* Kenarlık yok */
    border: none;
    /* Kenar yumuşatma */
    border-radius: 7px;
    /* İmleci göster */
    cursor: pointer;
   
  
  }
/*
.textarea-container {
    position: relative;
    margin-right: 20px;

  }
  
  .textarea {
    width: 100%;
    min-height: 150px; //TextArea'nın minimum yüksekliği 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: vertical; // Yalnızca dikey genişleme 

    
  }
  
  .placeholder {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.5); // Hafif transparan placeholder rengi 
  }
  
  .textarea:focus + .placeholder {
    display: none;
  }
*/