/* C:\angular\anketweb-main\src\app\admin-anket-ekle-duzenle\admin-anket-ekle-duzenle.component.css */
/* Sort Options */
.sort-options {
  margin-bottom: 20px; /* Boşluk */
}
.clickable-header {
  cursor: pointer; /* İmleci bir el işareti olarak göster */
}
button[type="matsubmit"] {
  /* Buton boyutları */
  width: 400px;
  height: 50px;
  /* İçerik ile kenar arasındaki boşluk */
  padding: 10px;
  /* Alt boşluk */
  margin-bottom: 10px;
  /* Sol boşluk */
  margin-left: 10px;
  /* Sağ boşluk */
  margin-right: 10px;
  /* Üst boşluk */
  margin-top: 10px;
  /* Arka plan rengi */
  background-color: #ffffff;
  /* Metin rengi */
  color: #00437c;
  /* Kenarlık yok */
  border: none;
  /* Kenar yumuşatma */
  border-radius: 7px;
  /* İmleci göster */
  cursor: pointer;
 

}

.survey-container {
    margin-top: 20px; /* Üst boşluk */
  }
  
  .survey {
    background-color: #f9f9f9; /* Arka plan rengi */
    padding: 15px; /* İçeriğin etrafındaki dolgular */
    border-radius: 8px; /* Köşelerin yuvarlatılması */
    margin-bottom: 20px; /* Anketler arası boşluk */
  }
  
  .survey h2 {
    margin-bottom: 15px; /* Başlık alt boşluk */
  }
  
  .survey h3 {
    margin-bottom: 10px; /* Alt başlık alt boşluk */
    font-weight: bold; /* Kalın yazı */
    font-size: 1.2em; /* Yazı boyutunu artırma */
  }
  
  .survey p {
    margin-bottom: 5px; /* Paragraf alt boşluk */
  }
  
  /* Hafif ince gri çizgi */
  .survey p::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin-top: 5px; /* Çizgi ile paragraf arası boşluk */
  }
  /* Butonların stil tanımı */
  button[type="submit"] {
    /* Buton boyutları */
    width: 400px;
    height: 50px;
    /* İçerik ile kenar arasındaki boşluk */
    padding: 10px;
    /* Alt boşluk */
    margin-bottom: 10px;
    /* Sol boşluk */
    margin-left: 10px;
    /* Sağ boşluk */
    margin-right: 10px;
    /* Üst boşluk */
    margin-top: 10px;
    /* Arka plan rengi */
    background-color: #00437c;
    /* Metin rengi */
    color: #ffffff;
    /* Kenarlık yok */
    border: none;
    /* Kenar yumuşatma */
    border-radius: 7px;
    /* İmleci göster */
    cursor: pointer;
   
  
  }