.normal-kullanici-panel {
    display: flex;
  
    width:max-content ;
    min-height: 1000px; /* Minimum genişlik 1000px */

    height: auto;
    
  }
  .anket-sorulari-content {
    margin-left: 220px; /* Menü çubuğundan sağa biraz boşluk bırakmak için */
    /* İstediğiniz diğer stil ayarları */
  }
  .menu-bar {
    width: 500px;
    height: 620px;
    background-color: #f3f3f3 ;
    color: #00437c;
    padding: 10px;
    margin: 10px;

    border: 3px solid #070cff; /* Beyaz kenarlık ekledim */
    border-radius: 10px; /* Yumuşak köşeler */
    animation: frameAnimation 2s infinite alternate; /* Animasyon */

  }
  
  .normal-kullanici-logo {
    width: 150px; /* Resmin genişliğini panele göre ayarlayın */
    margin: 0 auto 20px; /* Üst ve alt boşluk 20px, sol ve sağ otomatik olarak ortalanmış */
    display: block; /* Resmi bir blok element olarak gösterir, bu şekilde otomatik ortalama işlevi görür */
    border: 1px solid #070cff; /* Beyaz kenarlık ekledim */
    border-radius: 10px; /* Yumuşak köşeler */
  }
  
  .menu-item {
    cursor: pointer;
    padding: 8px;
    border-bottom: 1px solid #555;
  }
  
     /* Butonların stil tanımı */
     button[type="submit"] {
      /* Buton boyutları */
      width: 200px;
      height: 50px;
      /* İçerik ile kenar arasındaki boşluk */
      padding: 10px;
      margin: 10px;
      /* Arka plan rengi */
      background-color: #00437c;
      /* Metin rengi */
      color: #ffffff;
      /* Kenarlık yok */
      border: none;
      /* Kenar yumuşatma */
      border-radius: 7px;
      /* İmleci göster */
      cursor: pointer;
      transition: background-color 0.3s ease;
 /* Ortalamak için */
 margin: 0 auto 10px; /* Üst ve alt boşluk 10px, sol ve sağ otomatik olarak ortalanmış */
 display: block; /* Butonu bir blok element olarak gösterir, bu da otomatik ortalamayı sağlar */

    
    }

  .content {
    flex-grow: 1;
    padding: 20px;
    min-height: 100vh;

  }
 
  .row {
    flex-direction: column; /* Yatay olarak sırala */
    display: flex;
    height: min-content;
    background-color: #b5dcf3;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
  }


  @keyframes frameAnimation {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.05);
    }
  }
  

  .normal-kullanici-info {
    margin-bottom: 20px;
    font-size: 1.2rem; /* Önerilen yazı boyutu */
    font-family: 'Times New Roman', Times, serif; /* Times New Roman yazı tipi */
    line-height: 1.5; /* Satır yüksekliği */
    border: 1px solid #070cff; /* Beyaz kenarlık ekledim */
    border-radius: 10px; /* Yumuşak köşeler */
    margin: 10px;
    padding: 10px;

  }

  .anket-sorulari-content {
    margin-left: 100px; /* Menü çubuğundan daha az sağa boşluk bıraktım */
  }

  
  .myCssAnimation {
    padding: 1rem;
    text-align: center;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;

    background: linear-gradient(270deg, #4e79e3, #1f8fff, #5bc0eb, #00bfff, #00ced1);
    background-size: 600% 600%;
    animation: borderAnimation 4s ease infinite;
}
 
@keyframes borderAnimation {
  0% { background-position: 0 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0 50%; }
}
