<div class="normal-kullanici-panel">
    <div class="menu-bar">
      <img src="/assets/userIcon-removebg-preview.png" alt="Normal Kullanici Logo" class="normal-kullanici-logo" (click)="kullaniciAktifSayfa = ''">
      
        <!-- Normal Kullanıcı bilgilerini yazdırma -->
        
        <div class="normal-kullanici-info">
          <p><strong>ID : </strong>{{ normalKullaniciData.id || " " }}</p>
          <p><strong>AD : </strong> {{ normalKullaniciData.first_name || " " }}</p>
          <p><strong>SOYAD : </strong> {{ normalKullaniciData.last_name|| " " }}</p>
          <p><strong>TELEFON : </strong>{{ normalKullaniciData.phone_number   || " " }}</p>
          <p><strong>E-POSTA : </strong> {{ normalKullaniciData.email|| " " }}</p>
        </div>
        <div class="normal-kullanici-info">

          <button ngAnimatedBorder class="myCssAnimation" type="submit"

       (click)="cevaplariGoruntule()">Cevaplarımı Görüntüle
      </button>
      </div>
      <router-outlet></router-outlet>
    </div>
  
    <div class="anket-sorulari-content">
      <!-- Anket sorularının içeriği burada<app-admin-anketler-page1 *ngIf="aktifSayfa === 'admin-anket-duzenle'"></app-admin-anketler-page1> -->
      <app-kullanici-anketler-page1 *ngIf="kullaniciAktifSayfa === 'kullanici-anketler-page1'"></app-kullanici-anketler-page1>
      <app-kullanici-anketler-page2 *ngIf="kullaniciAktifSayfa === 'kullanici-anketler-page2'"></app-kullanici-anketler-page2>
      <app-kullanici-anketler-page3 *ngIf="kullaniciAktifSayfa === 'kullanici-anketler-page3'"></app-kullanici-anketler-page3>
      <app-kullanici-anketler-page4 *ngIf="kullaniciAktifSayfa === 'kullanici-anketler-page4'"></app-kullanici-anketler-page4>
      <app-kullanici-anketler-page5 *ngIf="kullaniciAktifSayfa === 'kullanici-anketler-page5'"></app-kullanici-anketler-page5>
      <app-normal-kullanici-cevaplar-goruntule *ngIf="kullaniciAktifSayfa === 'normal-kullanici-cevaplar-goruntule'"></app-normal-kullanici-cevaplar-goruntule>

  
      <router-outlet></router-outlet>
    </div> 
    <div class="row">

    <button type="submit"  (click)="ilkAsamayiAc()">1. Aşama Anketi Aç</button>
    <button type="submit"  (click)="birinciAsamayiTamamla()">1. Aşama Anketi Tamamla</button>
    <button type="submit"  (click)="ikinciAsamayiTamamla()">2. Aşama Anketi Tamamla</button>
    <button type="submit"  (click)="ucuncuAsamayiTamamla()">3. Aşama Anketi Tamamla</button>
    <button type="submit"  (click)="dorduncuAsamayiTamamla()">4. Aşama Anketi Tamamla</button>
  </div>

  </div>
  