<div class="main-container">
  <div class="survey-title">
    <h2>USER ID: {{ tiklananUserID }}</h2>
  </div>


  <!-- 2. Tablo: Aşama ve Videoların İzlenme Durumu -->
  <div class="stage-table">
    <h3>Kullanıcı Aşamaları ve Video İzlenme Durumu</h3>
    <button type="submit" (click)="toggleTableVisibility(1)">
      <mat-icon *ngIf="tablesVisible[1]">visibility_off</mat-icon>
      <mat-icon *ngIf="!tablesVisible[1]">visibility</mat-icon>
      Göster / Gizle</button>
   
    <table class="styled-table" *ngIf="tablesVisible[1]">
      <thead>
        <tr>
          <th>Kullanıcının Bulunduğu Aşama</th>
          <th>3. Aşama Videoları İzlenme Durumu</th>
          <th>4. Aşama Videoları İzlenme Durumu</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ userStage }}</td>
          <td>{{ video1Watched ? 'İzlendi' : 'İzlenmedi' }}</td>
          <td>{{ video2Watched ? 'İzlendi' : 'İzlenmedi' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  
  

  <!-- 3. Tablo: Aşama ve Videoların İzlenme Durumu -->
<div class="stage-table">
  <h3>Kullanıcının Bulunduğu Aşama Durumu</h3>
  <button type="submit" (click)="toggleTableVisibility(2)">
    <mat-icon *ngIf="tablesVisible[2]">visibility_off</mat-icon>
    <mat-icon *ngIf="!tablesVisible[2]">visibility</mat-icon>
    Göster / Gizle</button>

      <!-- Checkbox yapıları -->
<div>
  <label>Şu Aşamaya Geçiş Yap:</label>
  <input type="checkbox" id="asama1" name="asama" [(ngModel)]="selectedStage" value="1" (change)="stageChanged(1)">
  <label for="asama1">1</label>
  <input type="checkbox" id="asama2" name="asama" [(ngModel)]="selectedStage" value="2" (change)="stageChanged(2)">
  <label for="asama2">2</label>
  <input type="checkbox" id="asama3" name="asama" [(ngModel)]="selectedStage" value="3" (change)="stageChanged(3)">
  <label for="asama3">3</label>
  <input type="checkbox" id="asama4" name="asama" [(ngModel)]="selectedStage" value="4" (change)="stageChanged(4)">
  <label for="asama4">4</label>
  <input type="checkbox" id="asama5" name="asama" [(ngModel)]="selectedStage" value="5" (change)="stageChanged(5)">
  <label for="asama5">5</label>
</div>

  
  <table class="styled-table" *ngIf="tablesVisible[2]">
    <thead>
      <tr>
        <th>Anket Aşamaları</th>
        <th>Kullanıcının Aşamayı Tamamlama Durumu</th>
        <th>Admin Müdahele</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stage of stages">
        <td>{{ stage.name }}</td>
        <td>{{ stage.status }} <mat-icon>{{ stage.icon }}</mat-icon></td>
        <td>
          <!-- Son satır hariç (5. aşama dışında) -->
          <span *ngIf="stage.id !== 5">
            <button 
              type="submit2" 
              *ngIf="userStage === stage.id" 
              (click)="tamamla(stage.id)">
              SONRAKİ ADIMA GEÇMESİNİ ONAYLA
            </button>
          </span>
          <!-- Son satır (5. aşama) -->
          <span *ngIf="stage.id === 5">
            <button 
              type="submit2" 
              *ngIf="userStage === stage.id" 
              (click)="tamamla(stage.id)">
              ANKETİ TAMAMLAMASINI ONAYLA
            </button>
          </span>
          <span *ngIf="stage.id !== 5">
            <button 
              type="submit2" 
              class="inactive-button" 
              disabled 
              *ngIf="userStage !== stage.id">
              SONRAKİ ADIMA GEÇMESİNİ ONAYLA
            </button>
          </span>
          <span *ngIf="stage.id === 5">
            <button 
              type="submit2" 
              class="inactive-button" 
              disabled 
              *ngIf="userStage !== stage.id">
              ANKETİ TAMAMLAMASINI ONAYLA
            </button>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

  <!-- 1. Tablo: İşlem Adı ve İşlem Tarihi -->
  <div class="activity-table">
    <h3>Kullanıcı Aktiviteleri</h3>
    <button type="submit" (click)="toggleTableVisibility(0)">
      <mat-icon *ngIf="tablesVisible[0]">visibility_off</mat-icon>
    <mat-icon *ngIf="!tablesVisible[0]">visibility</mat-icon>
      Göster / Gizle</button>
    
    <table class="styled-table" *ngIf="tablesVisible[0]">
      <thead >
        <tr>
          <th>İşlem Adı</th>
          <th>İşlem Tarihi</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let log of activityLogs">
          <td>{{ getActionDescription(log.action, log.stage) }}</td>
          <td>{{ log.created_at | date: 'short' }}</td>
        </tr>
      </tbody>
    </table>
  </div>


  <!-- 1. Tablo: Kullanıcı Cevapları -->
  <div class="activity-table">
    <h3>Kullanıcı Anket Cevapları</h3>
    <button type="submit" (click)="toggleTableVisibility(3)">
      <mat-icon *ngIf="tablesVisible[3]">visibility_off</mat-icon>
    <mat-icon *ngIf="!tablesVisible[3]">visibility</mat-icon>
      Göster / Gizle</button>
    
    <table class="styled-table" *ngIf="tablesVisible[3]">
      


    </table>
  </div>


</div>
