    <!-- Ana HTML sayfasının başlangıcı -->
  
    <div class="main-container">
      <!-- Ana bölüm -->
  
      <div class="user-section">
        <!-- Normal Kullanıcı Bölümü -->
  
        <div class="app-container">
          <!-- Uygulama konteyneri -->
  
          <h1>Normal Kullanıcı</h1>
          <!-- Başlık: "Normal Kullanıcı" -->
  
          <button type="submit" (click)="showKayitOl()">
            <!-- Buton: KAYIT OL işlevini çağıran fonksiyonu tetikler -->
            KAYIT OL
          </button>
  
          <button type="submit" (click)="showGirisYap()">
            <!-- Buton: GİRİŞ YAP işlevini çağıran fonksiyonu tetikler -->
            GİRİŞ YAP
          </button>
        </div>
      </div>
  
      <div class="admin-section">
        <!-- Admin (Yönetici) Kullanıcı Bölümü -->
  
        <div class="app-container">
          <!-- Uygulama konteyneri -->
  
          <h1>Admin (Yönetici) Kullanıcı</h1>
          <!-- Başlık: "Admin (Yönetici) Kullanıcı" -->
  
          <button type="submit" (click)="showAdminKayitOl()">
            <!-- Buton: KAYIT OL işlevini çağıran fonksiyonu tetikler -->
            KAYIT OL
          </button>
  
          <button type="submit" (click)="showAdminGirisYap()">
            <!-- Buton: GİRİŞ YAP işlevini çağıran fonksiyonu tetikler -->
            GİRİŞ YAP
          </button>
        </div>
      </div>
  
      <router-outlet></router-outlet>
      <!-- Angular yönlendirme çıkış noktası - dinamik bileşenlerin yerleştirildiği alan -->
    </div>
    <!-- Ana HTML sayfasının sonu -->

  