<div class="row">
  <div class="container">
    <div *ngIf="ucuncuAsamaBilgilendirmeMetni">
      <h3>3. Aşama Bilgilendirme Metni</h3>
      <div class="bilgilendirme-metni">
        <p>{{ ucuncuAsamaBilgilendirmeMetni }}</p>
      </div>
    </div>

    <div *ngIf="ucuncuAsamaVideoUrls.length > 0">
      <h3>3. Aşama Videolar</h3>
      <button class="btn btn-primary" (click)="ucuncuAsamaVideolariListele()">İzlenecek Videoları Göster</button>

      <div *ngFor="let videoUrl of ucuncuAsamaVideoUrls; let i = index">
        <div id="ucuncu-player-{{ i }}"></div>
      </div>
    </div>
  </div>
</div>



<!-- <iframe width="560" height="315" [src]="sanitizer.bypassSecurityTrustResourceUrl(videoUrl)" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>--> 