<div class="admin-panel">
  <div class="menu-bar">

    <img src="/assets/adminIcon-removebg-preview.png" alt="Admin Logo" class="admin-logo" (click)="aktifSayfa = ''">
    
    <div class="admin-info">
      <p><strong>ID : </strong> {{ adminData.id || " " }}</p>
      <p><strong>AD : </strong> {{ adminData.first_name || " " }}</p>
      <p><strong>SOYAD : </strong> {{ adminData.last_name || " " }}</p>
      <p><strong>TELEFON : </strong> {{ adminData.phone_number || " " }}</p>
      <p><strong>E-POSTA : </strong> {{ adminData.email || " " }}</p>
    </div>
    <div class="admin-info">
        <button ngAnimatedBorder class="myCssAnimation" type="submit"
        (click)="anketleriGoruntule()" >Anketleri Görüntüle
        </button>
       
        <button ngAnimatedBorder class="myCssAnimation" type="submit"  
        (click)="kullanicilariGoruntule()" >Kullanıcıları Görüntüle
        </button>
         
        <button ngAnimatedBorder class="myCssAnimation"  type="submit"
        (click)="kullanicilaraAnketSec()" >Anket Seç
        </button>
      
        <button ngAnimatedBorder class="myCssAnimation"  type="submit"
        (click)="adminRehber()" >Admin REHBER
        </button>
      </div>


    <!--
    <button type="submit" (click)="anketleriGoruntule()" >Anketleri Görüntüle</button>
    
    <button type="submit" (click)="kullanicilariGoruntule()" >Kullanıcıları Görüntüle</button>
    <button type="submit" (click)="kullanicilaraAnketSec()" >Anket Seç</button>
    <button type="submit" (click)="adminRehber()" >Admin REHBER</button>-->

    <router-outlet></router-outlet>
  </div>

  <div class="anket-sorulari-content">
    <app-admin-anket-ekle-duzenle *ngIf="aktifSayfa === 'admin-anket-ekle-duzenle'"></app-admin-anket-ekle-duzenle>
    <app-admin-anket-ekle *ngIf="aktifSayfa === 'admin-anket-ekle'"></app-admin-anket-ekle>
    <app-kullanicilari-goruntule *ngIf="aktifSayfa === 'kullanicilari-goruntule'"></app-kullanicilari-goruntule>
    <app-admin-anket-sec *ngIf="aktifSayfa === 'admin-anket-sec'"></app-admin-anket-sec>
    <app-admin-rehber *ngIf="aktifSayfa === 'admin-rehber'"></app-admin-rehber>

    <router-outlet></router-outlet>
    
  </div>
</div>
